@model CaelumNavis.Models.Repos.IMessageRepo
@{
	ViewData["Title"] = "MessageView";
	Layout = "/views/shared/_Layout.cshtml";
}

<h2>MessageView</h2>

<p>
	Find by name: @Html.TextBox("SearchString")
	<input type="submit" value="Search" asp-controller="Home" asp-action="FindCustomer" />
</p>
<p>
	<a asp-area="" asp-controller="Home" asp-action="MessageForm">Create Message</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayName("Name")
			</th>
			<th>
				@Html.DisplayName("Email")
			</th>
			<th>
				@Html.DisplayName("Reason")
			</th>
			<th>
				@Html.DisplayName("MessageText")
			</th>
			<th>
				@Html.DisplayName("Address")
			</th>
			<th>
				@Html.DisplayName("City")
			</th>
			<th>
				@Html.DisplayName("bugOrError")
			</th>
			<th>
				@Html.DisplayName("CanContact")
			</th>
			<th>
				@Html.DisplayName("Terms")
			</th>
			<th>Edit | Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Sent)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.cust.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cust.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Reason)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MessageText)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cust.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cust.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.bugOrError)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cust.CanContact)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cust.Terms)
				</td>
				<td>
					<a>Edit</a> |
					<a asp-action="DeleteCustomer" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@*	Name
	Email
	Reason
	Address
	City
	MessageText
	BugOrError
	CanContact
	Terms*@