@model CustomerVM
@{
	ViewData["Title"] = "Result";
	Layout = "/views/shared/_Layout.cshtml";
}

<h2>Result</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayName("Name")
			</th>
			<th>
				@Html.DisplayName("Address")
			</th>
			<th>
				@Html.DisplayName("City")
			</th>
			<th>
				@Html.DisplayName("ZipCode")
			</th>
			<th>
				@Html.DisplayName("Email")
			</th>

			<th>
				@Html.DisplayName("CanContact")
			</th>
			<th>
				@Html.DisplayName("Terms")
			</th>
			<th>Edit | Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Customers)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ZipCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CanContact)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Terms)
				</td>
				<td>
					<a>Edit</a> |
					<a asp-action="DeleteCustomer" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
				</td>
			</tr>
		}
	</tbody>
	<p>
		<a asp-area="" asp-controller="Home" asp-action="CustomerView">Go Back to Customer View</a>
	</p>
</table>