@model IEnumerable<IdentityRole>
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admins")){
	@foreach (var role in Model)
	{
		<tr>
			<td>@role.Id</td>
			<td>@role.Name</td>
			<td identity-role="@role.Id"></td>
			<td>
				<form asp-action="Delete" asp-route-id="@role.Id" method="post">
					<a class="btn btn-sm btn-primary" asp-action="Edit"
					   asp-route-id="@role.Id">Edit</a>
					<button type="submit"
							class="btn btn-sm btn-danger">
						Delete
					</button>
				</form>
			</td>
		</tr>
	}
} else {
<h1>AccessDenied</h1>
}
