@model week6Lab.Models.Messages.MessageViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "/views/shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!-- boot strap scripts and style pages needed for navtabs,-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- displays the messages and nav tab.-->
    <h2>Messages</h2>

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Send</a></li>
        <li><a data-toggle="pill" href="#menu1">Sent</a></li>
        <li><a data-toggle="pill" href="#menu2">Received</a></li>
    </ul>
    <!--displays  the option to send a message. Works like a classic html form.-->
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3 style="text-align:center">Send a message</h3>
            <div class="text-center">
                <form class="p-a-1" asp-action="Contact" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label name="From">Your In Game Name:</label>
                        <input class="form-control" name="From" />
                    </div>
                    <div class="form-group">
                        <label name="Subject">Subject:</label>
                        <input class="form-control" name="Subject" />
                    </div>
                    <div class="form-group">
                        <label name="msg">Your Message:</label>
                        <input class="form-control" name="msg" />
                    </div>
                    <div class="form-group">
                        <label name="Priority">Priority:</label>
                        <input type="checkbox" name="Priority" value="Priority">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <!--uses a foreach loop to grab all of the messages in the associated view model.-->
        <div id="menu1" class="tab-pane fade">
            <h3>Sent</h3>
            @foreach (var Message in Model.messageRepo.Sent)
            {
                <p>
                    From: @Message.User.Fname @Message.User.Lname <br />
                    @Message.Msg<br />
                    Sent At @Message.TimeSent <br />
                    Priority: @Message.Priority.ToString()
                </p>

            }


        </div>
        <!-- does the same as the above code but for different messages. -->
        <div id="menu2" class="tab-pane fade">
            <h3>Received</h3>
            @foreach (var Message in Model.messageRepo.Received)
            {
                <p>
                    From: @Message.User.Fname @Message.User.Lname <br />
                    @Message.Msg<br />
                    Sent At @Message.TimeSent <br />
                    Priority: @Message.Priority.ToString()
                </p>
                <a href='@Url.Action("Respond", "Home")' onclick="@Message.Reply=true;">
                    <input type='button' value='Respond' />
                </a>
                @foreach (var Message2 in Model.messageRepo.Response)
                {
                    @if (Message2.Reply == true)
                    {
                        <p>
                            From: @Message2.User.Fname @Message2.User.Lname <br />
                            @Message2.Msg<br />
                            Sent At @Message2.TimeSent <br />
                            Priority: @Message2.Priority.ToString()
                        </p>
                        <a href='@Url.Action("Respond", "Home")'>
                            <input type='button' value='Respond' />
                        </a>
                    }

                }

            }


        </div>
    </div>
</body>
</html>